.floppy__button {
  inline-size: 28px;
  block-size: 28px;
  fill: var(--button-text-color);
  mix-blend-mode: difference;
}

@media (width > 375px) {

  .floppy__button {
    inline-size: 21px;
    block-size: 21px;
  }
}
