.button {
  position: relative;
  z-index: 1;
  border: 2px solid currentColor;
  background: var(--background-color);
  font-family: var(--title-font-family);
  font-size: 14px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  appearance: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 currentColor;
}

.button::before {
  content: '';
  position: absolute;
  z-index: -1;
  background-color: var(--main-color);
  inset: 0;
  inline-size: 100%;
  block-size: 100%;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:hover::before {
  transform: scaleX(1);
}
